* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signupWrapper {
    background-image: url('../../assets/auth-bg.png');
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    z-index: 999;
    inset: 0;
    background-color: rgba(0, 0, 0);
    background-position-x: 10%;
    background-position-y: 60px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.outerLayer,
.middleLayer,
.lowerLayer {
    position: absolute;
    inset: 0;
}

.outerLayer {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.middleLayer {
    background-image: url('../../assets/bg-black.jpg');
    opacity: 0.1;
}

.lowerLayer {
    background-image: url('../../assets/auth-bg-blue.png');
    background-repeat: no-repeat;
    background-size: 110% 110%;
}

.signupForm {
    margin-bottom: 2px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;
    background-color: black;
    width: 30%;
    max-width: 36rem;
    min-width: 450px;
}

.signup-btns {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.header p {
    background-image: linear-gradient(to right, rgb(172, 56, 210), rgb(232, 121, 124));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.1rem;
    margin-left: 10px;
    /* Make the text color transparent */
}

.header img {
    width: 55%;
    margin-left: 20px;
}



.main-content {
    background-color: rgb(24, 24, 24);
    color: rgb(236, 232, 238);
    border-end-start-radius: 16px;
    border-end-end-radius: 16px;
    padding-left: 8px;
}

.main-content input {
    background-color: black;
    padding: 10px 15px;
    border-radius: 10px;
}

.main-content h1 {
    font-size: 1.6rem;
    line-height: 2.25rem;
    padding: 5px 10px 5px 5px;
    font-weight: 700;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 15px;
    width: 95%;
}

.input-container label {
    font-weight: 600;
}

.signup-btn {
    background-image: linear-gradient(to right, rgb(172, 56, 210) 0%, rgb(222, 57, 117) 60%, rgb(232, 121, 124));
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.signup-btn:hover,
.already-btn:hover {
    cursor: pointer;
}

.signup-btn:hover {
    background-image: linear-gradient(to right, rgb(172, 56, 210) 0%, rgb(172, 56, 210) 30%, rgb(232, 121, 124));
}

.already-btn:hover {
    background-image: linear-gradient(to bottom, black 0%, black 40%, rgba(183, 183, 183, 0.09) 100%);
}

.already-btn {
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 600;
    padding: 10px 10px;
    border: 1px solid grey;
    color: rgb(120, 118, 120);
    background-color: rgb(24, 24, 24);
}